body
{
	background: #fff;
	display: inline-block;
}

.block {
        /* position: absolute; */
         padding: 10px;
         /*width: 300px;*/
         border: 1px solid #ddd;
         float: left;
         display: inline-block;
         /* margin: 1px; */
         } 