audio,video,input,select,img
{
    margin: 0 auto; 
    width: 95%;
 }   
body{
    background-color: #eee;
}

#insElement form button
{
padding-left: 2%;
}


#imgMinerva{
   width: 15%;
   margin-left: 5%;
}

#imgMinerva,#formulario1,#entrega{
    display: inline-block;
    vertical-align: middle;
}

#insElement
{
    width:60%;
    background-color: #e6e6e6;
    padding: 5px 5px 5px 50px;
    margin: 0 auto;
}

#insElement form
{
    text-align: center;
    width:50%;
}


#insElement form select
{
    width:50%;
}

#insElement form textarea
{
    width:80%;
}

#insElement form textarea,#insElement form label,#insElement form select
{
    display: inline-block;
    vertical-align: top;
}

.block 
{
    background: white;
    border: 1px solid #ddd;
    padding: 20px;
    position: absolute;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width:250px;
}